<footer class="footer bg-blur rounded">
  <div class="container-fluid text-center text-white">
      <span class="h5">
      &copy; Recipe Box 2025. All rights reserved.
    </span>
    <div class="small">
      <span >
        For support, contact us at
      </span>
      <a href="mailto:support@recipebox.com" class="text-white bold">support@recipebox.com</a>
      <br>
      <span>
        Follow us:
      </span>
      <a href="https://facebook.com/recipebox" class="text-white bold" target="_blank">Facebook</a> |
      <a href="https://instagram.com/recipebox" class="text-white bold" target="_blank">Instagram</a> |
      <a href="https://linkedin.com/company/recipebox" class="text-white bold" target="_blank">LinkedIn</a>

    </div>
  </div>
</footer>