<header class="firstCont" xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
    <div class="firstCont d-flex align-items-center">
        <a class="navbar-brand" th:href="@{index}">
            <img alt="logo" src="/images/logo.png" class="logo">
        </a>

        <div class="container d-flex align-items-center" sec:authorize="isAuthenticated()">
            <div class="row justify-content-lg-start d-flex align-items-center">
                <p class="text-left text-white bold mb-0">Welcome to RecipeBox, </p>
                <span class="bold left-space">
                <p class="mb-0 username_name">
                    <th:block sec:authentication="name"></th:block>
                </p>
            </span>
            </div>
        </div>
    </div>



    <div>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid ">

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link a-col" aria-current="page" href="#">Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link a-col" href="#">Favorites</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link a-col" th:href="@{about}">About</a>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item" sec:authorize="isAnonymous()">
                            <a class="nav-link a-col" aria-current="page" th:href="@{users/login}">Login</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAnonymous()">
                            <a class="nav-link a-col" th:href="@{users/register}">Register</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <form th:method="POST"
                                  th:action="@{users/logout}">
                                <button class="btn-reset nav-link a-col" th:href="@{/logout}">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>


            </div>
        </nav>
    </div>
</header>