<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="~{fragments/head::head}"></head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="~{fragments/header::header}"></header>

<main class="form-responsive container flex-grow-1">

    <div class="container mt-5 text-center">
        <h2 class="fw-bold text-white" th:text="#{find_recipe}">Find Your Next Favorite Recipe</h2>
        <form th:action="@{/search}" method="get" class="d-flex justify-content-center">
            <input type="text" name="query" class="form-control w-50 me-2" placeholder="Search recipes...">
            <button type="submit" class="btn btn-success" th:text="#{search}">Search</button>
        </form>
    </div>

    <div class="container mt-5">

        <div class="row align-items-center mb-5 bg-white shadow rounded p-4 section-box">
            <div class="col-md-6">
                <h2 class="fw-bold text-success" th:text="#{discover_recipe}">Discover delicious recipes</h2>
                <p th:text="#{browse_thousands_of_recipes}">Browse thousands of recipes shared by culinary enthusiasts and professional chefs.</p>
                <a class="btn btn-success btn-lg" th:href="@{recipe-list}" th:text="#{view_recipes}">View recipes</a>
            </div>
            <div class="col-md-6">
                <img src="/images/food.jpg" class="img-fluid rounded shadow" alt="Delicious food">
            </div>
        </div>


        <div class="row align-items-center bg-white shadow rounded p-4 section-box">
            <div class="col-md-6 order-md-2">
                <h2 class="fw-bold text-primary" th:text="#{learn_more_about_us}">Learn more about us</h2>
                <p th:text="#{find_out_more_about}">Find out more about our mission and passion for delicious food.</p>
                <a class="btn btn-primary btn-lg" th:href="@{about}" th:text="#{learn_more}">Learn more</a>
            </div>
            <div class="col-md-6 order-md-1">
                <img src="/images/about.jpg" class="img-fluid rounded shadow" alt="About us">
            </div>
        </div>

    </div>

</main>

<footer th:replace="~{fragments/footer::footer}"></footer>

</body>
</html>
