<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>

<body>
<main>
  <h1 class="text-center mt-3"><span class="badge my-title" th:text="#{login}">Login</span></h1>
  <div class="d-flex justify-content-center">



      <form
              th:method="POST"
              th:action="@{/users/login}"
              th:object="${loginData}"
              class="form-responsive mx-auto w-25 bg-blur rounded">

        <div>
          <div class=" bg-danger rounded"  th:if="${showError}" th:text="#{incorrect_username_or_password}">Incorrect username or password!</div>
          <div class="col-auto">
            <label for="inputUsername" class="h4 mb-2" th:text="#{username}">Username</label>
          </div>
          <div class="form-group mb-3">
            <input
                    th:field="*{username}"
                    th:errorclass="bg-danger"
                    type="text"
                    name="username"
                    required
                    id="inputUsername"
                    class="form-control"
                    aria-describedby="usernameHelpInline">

          </div>

        </div>
        <div class="form-group mb-3">
          <div class="col-auto">
            <label for="inputPassword" class="h4 mb-2" th:text="#{password}">Password</label>
          </div>
          <div class="col-auto">
            <input
                    th:field="*{password}"
                    th:errorclass="bg-danger"
                    type="password"
                    name="password"
                    required
                    id="inputPassword" class="form-control"
                    aria-describedby="passwordHelpInline">


          </div>
        </div>
        <br>
        <div class="button-holder d-flex justify-content-center">
          <button type="submit" class="btn btn-success mb-3 text-white-50" value="Login" th:text="#{login}">Login</button>
        </div>
      </form>
    </div>

  </div>
</main>
</body>
</html>