<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}"></head>

<body>
<header th:replace="~{fragments/header::header}"></header>
<main>

    <h1 class="text-center mt-3"><span class="badge my-title" th:text="#{add_recipe}">Add Recipe</span></h1>


    <form
            class="form-responsive mx-auto w-25 bg-blur rounded"
            th:method="POST"
            th:action="@{/recipe-add}"
            th:object="${recipeData}"
            enctype="multipart/form-data"
    >
        <div class="form-group mb-3">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-2 text-white" th:text="#{name}">Name</label>
            </div>
            <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    th:field="*{name}">
            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></div>

        </div>

        <div class="form-group m-3">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="ingredients" class="h4 mb-2" th:text="#{ingredients}">Ingredients</label>
            </div>
            <textarea
                    type="text"
                    class="form-control"
                    id="ingredients"
                    name="ingredients"
                    th:field="*{ingredients}">
            </textarea>
            <div class="text-danger" th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}" ></div>

        </div>

        <div class="form-group m-3">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="instructions" class="h4 mb-2" th:text="#{instructions}">Instructions</label>
            </div>
            <textarea
                    type="text"
                    class="form-control"
                    id="instructions"
                    name="instructions"
                    th:field="*{instructions}">
            </textarea>
            <div class="text-danger" th:if="${#fields.hasErrors('instructions')}" th:errors="*{instructions}" ></div>

        </div>


        <div class="form-group m-3">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2" th:text="#{category}">Category</label>
            </div>
            <select
                    class="custom-select"
                    id="category"
                    name="category"
                    th:field="*{categoryType}"

            >
                <option value="" th:text="#{select_category}">Select category</option>
                <option th:each="categoryType: ${categoryTypes}" th:value="${categoryType}" th:text="${categoryType}">Category type</option>
            </select>

            <div class="text-danger" th:if="${#fields.hasErrors('categoryType')}" th:errors="*{categoryType}" ></div>

        </div>

        <div class="form-group m-3">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="picture" class="h4 mb-2" th:text="#{attach_picture}">Attach the picture</label>
            </div>
        </div>

        <div class="form-group m-3 custom-file-upload">
            <input type="file" name="imageUrl" id="picture">
            <label for="picture" th:text="#{upload_picture}">📷 Upload Image</label>
            <div id="file-name" class="text-white-50"></div>
            <div class="text-danger" th:if="${recipeError}">
                <span th:text="#{valid_picture}">Please upload a valid picture!</span>
            </div>
        </div>


        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-success  mb-3 text-white-50" value="Add recipe" th:text="#{add_recipe}">Add Recipe</button>
        </div>


    </form>
</main>
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>