<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      >

<head th:replace="~{fragments/head::head}">

</head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="~{fragments/header::header}"></header>

<h1 class="justify-content-center">All Recipes</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4" th:each="recipe : ${recipes}">
            <a th:href="@{/recipes/{id}(id=${recipe.id})}" class="text-decoration-none">
                <div class="card mb-4">
                    <img th:src="@{/uploads/{imageName}(imageName=${recipe.imageUrl})}" class="card-img-top" alt="Recipe Image">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <span th:text="${recipe.name}"></span>
                        </h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


</body>
</html>