<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}"></head>

<body>
<header th:replace="~{fragments/header::header}"></header>
<main>

    <h1 class="text-center mt-3"><span class="badge my-title">Add Recipe</span></h1>


    <form
            class="mx-auto w-25 bg-blur rounded"
            th:method="POST"
            th:action="@{/recipe-add}"
            th:object="${recipeData}"
            enctype="multipart/form-data"
    >
        <div class="form-group mb-3">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-2 text-white">Name</label>
            </div>
            <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    th:field="*{name}">
            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></div>

        </div>

        <div class="form-group m-3">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="ingredients" class="h4 mb-2">Ingredients</label>
            </div>
            <textarea
                    type="text"
                    class="form-control"
                    id="ingredients"
                    name="ingredients"
                    th:field="*{ingredients}">
            <div class="text-danger" th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}" ></div>
            </textarea>

        </div>

        <div class="form-group m-3">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="instructions" class="h4 mb-2">Instructions</label>
            </div>
            <textarea
                    type="text"
                    class="form-control"
                    id="instructions"
                    name="instructions"
                    th:field="*{instructions}">
            <div class="text-danger" th:if="${#fields.hasErrors('instructions')}" th:errors="*{instructions}" ></div>
            </textarea>

        </div>


        <div class="form-group m-3">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2">Category</label>
            </div>
            <select
                    class="custom-select"
                    id="category"
                    name="category"
                    th:field="*{categoryType}"

            >
                <option value="" >Select category</option>
                <option th:each="categoryType: ${categoryTypes}" th:value="${categoryType}" th:text="${categoryType}">Category type</option>
            </select>

            <small class="invalid-feedback text-danger">Category error message</small>

        </div>

        <div class="form-group m-3">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="picture" class="h4 mb-2">Attach the picture</label>
            </div>
        </div>

        <div class="form-group m-3 custom-file-upload">
            <input type="file" name="imageUrl" id="picture">
            <label for="picture">📷 Upload Image</label>
            <div id="file-name" class="text-white-50"></div>
            <div class="text-danger" th:if="${recipeError}">Please upload a valid picture!</div>
        </div>


        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-success  mb-3 text-white-50" value="Add recipe">Add recipe</button>
        </div>


    </form>
</main>

</body>
</html>